<h1>Create Your Order</h1>

<%= form_for @order, url: order_path(@order) do |f| %>
     <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>   
    <p>
      <%= render :partial =>  'items/items_list', :locals => {:items => @items , :show_availability => AvailabilityTypes::SELECT }%>

    </p>
      <p>
      <%= f.submit %>
    </p>
<% end %>
