<h1>Create Your Order</h1>

<%= form_for @order, url: order_path(@order) do |f| %>
     <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <h4>Items available for order:</h4>
    <div id="items_list">
      <%= render :partial => 'items/items_list', :locals => {:items => @items, :show_availability => AvailabilityTypeHelper::SELECT} %>
    </div>
      <p>
    <div class="submit_button">
          <%= f.submit %>
    </div>
      </p>
<% end %>

<div class="footer">
  If you are an admin:
  <ul><%= link_to 'Select items for today', items_path %> <br/></ul>
  <ul><%= link_to 'View all orders made today so far', display_all_orders_path %></ul>
</div>
