<div class="col-lg-5">
  <%= render :partial => 'layouts/display_flash', :locals => {:flash => flash} %>

  <div class="well">
    <%= form_for @order, url: order_path(@order), :class => 'form-horizontal' do |f| %>
        <fieldset>
          <legend>Create Your Order</legend>
          <div class="form-group">
            <%= f.label :name, class: 'col-lg-2 control-label', for: 'order_name' %>
            <div class="col-lg-10" style="margin-bottom: 15px">
              <%= f.text_field :name, :class => 'form-control', value: current_user.username, readonly: 'readonly', placeholder: 'Name for Order' %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="item-list"><h3>Item List:</h3></label>
            <% @items_by_type.each do |item_type, item_type_list| %>
                <div class="form-group">
                  <h4> <%= capitalize_first_letter item_type %>:</h4>
                  <%= render :partial => 'items/items_list', :locals => {:items => item_type_list, :show_availability => AvailabilityTypeHelper::SELECT} %>
                </div>
            <% end %>
          </div>
              <%= f.submit 'Create Order', class: 'btn btn-success' %>
        </fieldset>
    <% end %>
  </div>
</div>