<h1>Create Your Order</h1>

<%= form_for @order, url: order_path(@order) do |f| %>
     <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <h4>Items available for order:</h4>
    <div id="items_list">
      <%= render :partial => 'items/items_list', :locals => {:items => @items, :show_availability => AvailabilityTypes::SELECT} %>
    </div>
      <p>
    <div class="submit_button">
          <%= f.submit %>
    </div>
      </p>
<% end %>
