<table class="table table-bordered table-striped table-hover" id="item-list">
  <thead>
  <th>
    Name
  </th>
  <th>
    Price
  </th>
  <% unless show_availability == AvailabilityTypeHelper::NONE %>
      <th>
        <%= show_availability == AvailabilityTypeHelper::AVAILABILITY ? 'Availability' : 'Select your choice' %>
      </th>
  <% end %>
  <% if show_availability == AvailabilityTypeHelper::AVAILABILITY %>
      <th>
        Remove item
      </th>
  <% end %>
  </thead>

  <tbody>
  <% items.each do |item| %>
      <tr>
        <td class="col-lg-5">
          <%= item.name %>
        </td>

        <td>
          <%= item.price %>
        </td>
        <% unless show_availability == AvailabilityTypeHelper::NONE %>
            <td>
              <label> <%= show_availability == AvailabilityTypeHelper::AVAILABILITY ? 'Available?' : 'I want' %>
                <%= check_box_tag 'items[]', item.id, show_availability == AvailabilityTypeHelper::AVAILABILITY ? item.available : false -%></label>
            </td>
        <% end %>
        <% if show_availability == AvailabilityTypeHelper::AVAILABILITY %>
            <td>
              <%= link_to 'Delete item', item, method: :delete, data: {confirm: 'Are you sure you want to permanently remove this item?'}, class: 'link' %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>
